<header class="l_header">
	<div class="inner p_header">
		<h1 class="p_header_logo">mikoshi</h1>
		<div class="c_input_box">
			<input type="text" name="header_search" class="c_input">
			<button class="c_submit p_header_search_submit">search</button>
		</div>
	</div>
</header>